html{
    font-family: 'Roboto', sans-serif;
}

.page{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0%;
}

/*Header*/

.header-class{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    min-height: 100px;
    background: #213B7E;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 16px;
}

.icon{
    height: 100px;
    width: auto;

}
.menu-class{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    align-items: center;
    align-self: stretch;
    list-style: none;
    max-width: 700px;
    min-height: 100px;
    background: #213B7E;
  
}

ul>li{
    display: flex;
}

.menu-link{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 18px;
    margin: 0;
    max-width: 150px;
    min-height: 100px;
    background: #213B7E;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;
    text-align: center;
    color: #FFFFFF;
    white-space: pre-wrap;
}

em{
    text-align: center;
}
.menu-link:hover{
    background: #FFFFFF;
    color: #213B7E;
    text-decoration-line:none;
}

.me-button{
    width: 153px;
    min-height: 70px;
    background: #EA5D21;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    align-items: center;
    border: 0;
    margin: 0;
    color: #FFFFFF;
    
}

.basic-content{
    max-width: 911px;
    width: 100%;
    min-height: 720px;
    margin: 0 auto;
}

.basic-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.pictures {
    max-width: 300px;
    height: auto;
}